@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,400&display=swap');
body{
    font-family: 'Lexend Peta', sans-serif;
    background-color: #fffdd0;
    padding:0px;
    box-sizing: border-box;
    margin:0px;
}
.brandname{
    padding-left:20px;
    padding-top:20px;
    font-size:20px;
    color: rgba(59, 30, 8, 1);
}
.bookimg{
    position:fixed;
    top:530px;
    left:0%;
    width:100vw;
    height:100px;
}
.clickme{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}
.boy1{
    align-items: center;
    padding-bottom:150px;
    position: relative;
    padding-right:30px;
}
.hand1{
    position:absolute;
    padding-right:350px;
    padding-top:200px;
    height:1px;
    width: 3px;
}
.hand2{
    position:absolute;
    padding-left:150px;
    padding-top:200px;
    height:1px;
    width: 3px;
}
.cli{
    text-align: center;
    position: absolute;
    left:33%;
    top:70%;
}
.click{
    font-size:60px;
    letter-spacing: 4px;
    padding: 10px 120px;
    background-color: rgba(59, 30, 8, 1);
    border-radius: 50px;
    border:transparent;
    cursor: pointer;
    color:white;
    font-weight: 500;
}
.click:hover{
    box-shadow: 0 0 0 4px #fff, 0 0 0 8px rgba(59, 30, 8, 1);
}
.lets{
    position:absolute;
    left:10%;
}
.started{
    position: absolute;
    right:10%;
}
.lgs{
    font-size: 50px;
    letter-spacing: 4px;;
    font-weight:200
}
