@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,400&display=swap');

body {
    font-family: 'Lexend Peta', sans-serif;
    background-color: #fffdd0;
    padding: 0;
    margin: 0;
}

.brandname {
    padding: 20px;
    font-size: 20px;
    color: rgba(59, 30, 8, 1);
}

.bookimg {
    width: 100%;
    height: auto; /* Adjusted for responsiveness */
}

.clickme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boy1 {
    padding-bottom: 150px;
    padding-right: 30px;
    text-align: center; /* Adjusted for responsiveness */
}

.hand1,
.hand2 {
    display: none; /* Removed absolute positioning for responsiveness */
}

.cli {
    text-align: center;
}

.click {
    font-size: 4vw; /* Adjusted for responsiveness */
    letter-spacing: 0.5vw; /* Adjusted for responsiveness */
    padding: 1vw 8vw; /* Adjusted for responsiveness */
    background-color: rgba(59, 30, 8, 1);
    border-radius: 2vw; /* Adjusted for responsiveness */
    border: transparent;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.click:hover {
    box-shadow: 0 0 0 0.5vw #fff, 0 0 0 1vw rgba(59, 30, 8, 1); /* Adjusted for responsiveness */
}

.lets {
    text-align: center;
}

.started {
    text-align: center;
}

.lgs {
    font-size: 3vw; /* Adjusted for responsiveness */
    letter-spacing: 0.4vw; /* Adjusted for responsiveness */
    font-weight: 200;
}
