*{
    margin: 0;
    padding:0;
}

.firstheading{
    margin-top: 50px;
    margin-left: 200px;
    font-size: 50px;
    color: rgb(34, 16, 0);
    font-family: Lexend Peta Regular;
}

.boxes{
    display: flex;
}

.box1{
    margin-top: 3%;
    margin-left: 8%;
    width: 350px;
    height: 300px;
    border: 2px solid black;
    background-color: #ffffff;
}


.box2{
    margin-top: 3%;
    margin-left: 18%;
    width: 350px;
    height: 300px;
    border: 2px solid black;
    background-color: #ffffff;
}

.ri--lock-2-line {
    display: inline-block;
    width: 350px;
    height: 300px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 8V7a6 6 0 1 1 12 0v1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1zm13 2H5v10h14zm-8 5.732A2 2 0 0 1 12 12a2 2 0 0 1 1 3.732V18h-2zM8 8h8V7a4 4 0 0 0-8 0z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}


.secondhead{
    margin-top: 2%;
    margin-left: 15%;
    font-size: 30px;
    color: rgb(34, 16, 0);
    font-family: Lexend Peta Regular;
}

.thirdhead{
    margin-top: 2%;
    margin-left: 15%;
    font-size: 30px;
    color: rgb(34, 16, 0);
    font-family: Lexend Peta Regular;
}

.course-heads{
    display: flex;
}

.arrow-back{
    margin-left: 50px;
    right: 0px;
    margin-top: 145px;
    cursor: pointer;
    width: 60px;
    height: 110px;
    background-color: #FFFDD0;
    border: none;
}
